.oe_hidden_input_file input.oe_form_binary_file {
  width: 64px;
}
.oe_form .pc_oe_left_first_child {
  float: left;
  width: 15%;
}
.oe_form .pc_oe_left_second_child {
  float: left;
  width: 85%;
}
